.repo-url{
    word-break: break-all;
}

.warning-alert{
    font-family: 'Press Start 2P', cursive;
    max-width: 745px;
    min-height: 80px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    background-color: #00a3cc;
    box-shadow: inset -4px -4px 0px 0px #007a99;
    &:hover,
    &:focus {
        background: #00b8e6;
        box-shadow: inset 3px 3px 0px 0px #007a99;
        outline: none;
    }
    &:active {
        box-shadow: inset 3px 3px 0px 0px #007a99;
    }
    &:before,
    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
    }
    &:before {
        top: -6px;
        left: 0;
        border-top: 6px black solid;
        border-bottom: 6px black solid;
    }
    &:after {
        left: -6px;
        top: 0;
        border-left: 6px black solid;
        border-right: 6px black solid;
    }
    i{
        font-size: 35px;
        margin-right: 14px;
        color: #fff;
    }
    p{
        font-size: 14px;
        color: #fff;
        margin-bottom: 0px;
        line-height: 1.7;
    }
    span{
        font-size: 24px;
        width: 40px;
        height: 40px;
        line-height: 42px;
        text-align: center;
        background-color: #fff;
        color: #00a3cc;
        border-radius: 50px;
        margin-right: 20px;
    }
}

.stop-button{
    width: 30px;
    height: 110px;
    word-break: break-all;
    font-family: 'Press Start 2P', cursive;
    background: #E76E55;
    box-shadow: inset -4px -4px 0px 0px #8C2022;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &:hover,
    &:focus {
        background: #CE372B;
        box-shadow: inset 3px 3px 0px 0px #8C2022;
        outline: none;
    }
    &:active {
        box-shadow: inset 3px 3px 0px 0px #8C2022;
    }
    &:before,
    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
    }
    &:before {
        top: -6px;
        left: 0;
        border-top: 6px black solid;
        border-bottom: 6px black solid;
    }
    &:after {
        left: -6px;
        top: 0;
        border-left: 6px black solid;
        border-right: 6px black solid;
    }
}

.section-container{
    margin-bottom: 20px;
    background-color: #eee;
    border-radius: 2px;
    padding: 20px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(85,84,89,.7);
    -moz-box-shadow: 0px 1px 3px 0px rgba(85,84,89,.7);
    box-shadow: 0px 1px 3px 0px rgba(85,84,89,.7);
}

.card-holder{
    height: 180px;
    width: auto;
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #222;
    .icon-holder{
        height: 70%;
        i{
            font-size: 80px;
            color: #333;
        }
    }
    .text-holder{
        height: 30%;
        p{
            margin-bottom: 0px;
            color: #fff;
            text-transform: uppercase;
            word-break: break-word;
            font-size: 12px;
            font-weight: bold;
        }
    }
}

.button-container{
    width: 80px;
    height: 80px;
    margin: auto;
    padding: 12px;
    background: linear-gradient(#DF293A, #EF495A);
    border-radius: 150px;
    box-shadow: 1px 3px 1px #CE152A;
    cursor: pointer;
    &:hover,
    &:focus{
        box-shadow: inset 0px 0px 5px #7f0d1a;
        cursor: pointer;
    }
}
  
  
.play-button{
    position: relative;
    color: #fff;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: radial-gradient(#EF495A, #DE2839);
    box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.15) inset;
}

@media (max-width: 575px){
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}