<style>
  @import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Monoton|Press+Start+2P|Zilla+Slab+Highlight');
</style>
<div>
  <h1 class="text-center" style="font-family: 'Press Start 2P', cursive; margin-top: 1em">BOTONERA MEDIA PLAYER {{version}}</h1>
  <h3 class="text-center" style="font-family: 'Zilla Slab Highlight', cursive; margin-top: 0.5em">Clone or download</h3>
  <p class="text-center">
    <strong>https://github.com/santifonzalida/botoneraA8.git</strong>
  </p>
</div>
<div class="container" (window:keydown)="hotkeys($event)">

  <div class="row">
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('endu_escuchabaelbam')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Escuchaba el baaam</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('tabamoTomando')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Tabamo tomando</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('activoPasivo')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Activo y Pasivo</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('forinia')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">forinia</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('tramboliko')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Tramboliko</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('volo')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Y voló</p>
        </div>
      </div>
    </div>
    <!--fin row-->
  </div>
  <div class="row">
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('endu_carrera')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Carrera</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('sonRibukOSonNaik')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Esas so Ribuk o Son Naik!</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('peamoa')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Peamoá</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('helloWeynes')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Hello Wenyes</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('seraEsta')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Será esta brother</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('taMuyPegaa')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Ta muy pegaa esa cancion</p>
        </div>
      </div>
    </div>
    <!--fin row-->
  </div>
  <div class="row">
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('endu_endu')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Enduenduenduen</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('brea')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Y bueno brea</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('gemido')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Gemido</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('ledijeNo')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">le dije que no!</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('mesobra')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Me sobra</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('endu_paaa')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">PAAAAA</p>
        </div>
      </div>
    </div>
    <!--fin row-->
  </div>
  <div class="row">
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('endu_susurros')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Susurros</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('ledijeNo')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Le dije que no!</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('servicio')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Servicio</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('endu_elotroestabaasi')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">El otro estaba así</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('endu_aparentemente')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Carrera aparentemente</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('sosunbandido')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Sos un bandido</p>
        </div>
      </div>
    </div>
    <!--fin row-->
  </div>

  <div class="row">
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('diego_eldiego')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">El diego</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('diego_eldiegote')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">El diegote</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('endu_aceleradaendu')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Endu c/ acelerada</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('diego_canicani')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Cani Cani!!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('tano-dala-boludo')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Dala Boludo</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('tano-dale-boludo')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Dale boludo</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('tano-en-la-b')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Estamos en la B</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('tano-isabel')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Isabel</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('tano-negro-de-mierda')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Negro de mierda</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('tano-nooo')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Noooooo</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('tano-paraguayo')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Paraguayo</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('tano-boca')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Te fuiste a boca</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('tano-publicidad-pelotudo')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Que pone la publicidad</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('tano-huevo')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Pongan huevo</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('tano-jj')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">JJ Lopez</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="card">
        <i class="material-icons card-img-top text-center" style="font-size: 80px;" (click)="play('tano-mierda')">play_circle_outline</i>
        <div class="card-body">
          <p class="card-text text-center">Que mierda es esto</p>
        </div>
      </div>
    </div>

    <div class="container">
      <button type="button" class="btn btn-warning btn-lg btn-block" (click)="stop()">
        <i class="material-icons">warning</i>
        FRENAR
        <small>Atajo: Tecla 'espacio'</small>
        <i class="material-icons">warning</i>
      </button>
    </div>

    <div class="container">
      <h4 class="text-right" style="font-family: 'Libre Barcode 39 Text', cursive;">BOTONERAA8</h4>
    </div>

  </div>
