.repo-url{
    word-break: break-all;
}

.warning-alert{
    font-family: 'Press Start 2P', cursive;
    max-width: 730px;
    min-height: 80px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    background-color: #00a3cc;
    box-shadow: inset -4px -4px 0px 0px #007a99;
    &:hover,
    &:focus {
        background: #00b8e6;
        box-shadow: inset -6px -6px 0px 0px #007a99;
    }
    &:active {
        box-shadow: inset 4px 4px 0px 0px #007a99;
    }
    &:before,
    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
    }
    &:before {
        top: -6px;
        left: 0;
        border-top: 6px black solid;
        border-bottom: 6px black solid;
    }
    &:after {
        left: -6px;
        top: 0;
        border-left: 6px black solid;
        border-right: 6px black solid;
    }
    i{
        font-size: 35px;
        margin-right: 14px;
        color: #fff;
    }
    p{
        font-size: 14px;
        color: #fff;
        margin-bottom: 0px;
        line-height: 1.7;
    }
    span{
        font-size: 24px;
        width: 40px;
        height: 40px;
        line-height: 42px;
        text-align: center;
        background-color: #fff;
        color: #00a3cc;
        border-radius: 50px;
        margin-right: 20px;
    }
}

.stop-button{
    width: 30px;
    height: 110px;
    word-break: break-all;
    font-family: 'Press Start 2P', cursive;
    background: #E76E55;
    box-shadow: inset -4px -4px 0px 0px #8C2022;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &:hover,
    &:focus {
        background: #CE372B;
        box-shadow: inset -6px -6px 0px 0px #8C2022;
    }
    &:active {
        box-shadow: inset 4px 4px 0px 0px #8C2022;
    }
    &:before,
    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
    }
    &:before {
        top: -6px;
        left: 0;
        border-top: 6px black solid;
        border-bottom: 6px black solid;
    }
    &:after {
        left: -6px;
        top: 0;
        border-left: 6px black solid;
        border-right: 6px black solid;
    }
}

.section-container{
    margin-bottom: 20px;
    background-color: #eee;
    border-radius: 2px;
    padding: 20px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(85,84,89,.7);
    -moz-box-shadow: 0px 1px 3px 0px rgba(85,84,89,.7);
    box-shadow: 0px 1px 3px 0px rgba(85,84,89,.7);
}

.card-holder{
    height: 160px;
    width: auto;
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #fff;
    .icon-holder{
        height: 60%;
        i{
            font-size: 80px;
            color: #333;
        }
    }
    .text-holder{
        height: 40%;
        p{
            margin-bottom: 0px;
            color: #333;
        }
    }
}

@media (max-width: 575px){
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}